alias sudo='sudo '

alias ls='ls --color=auto -F'
alias l='ls -l'
alias ll='l'
alias la='ls -a'
alias cat='bat'
alias ls='exa'

alias da='du -csh'
alias df='df -Th'
alias psc='ps xawf -eo pid,user,cgroup,args'

# gvim
alias g='gvim --servername GVIM --remote-silent'

# mpv profiles
alias au='mpv --profile=audio'
alias tv='mpv --profile=tv'
alias tv-sop='mpv --profile=sop http://localhost:8908/tv.asf'

# pacman
alias p='pacman'
alias pp='sudo pacman -Syu'

# AUR
alias aur='pacman -Qqm | sort'

# systemd
alias sd='systemctl'
alias jj='journalctl'

# kitty
alias icat="kitty +kitten icat"
alias d="kitty +kitten diff"

# my public IP address
alias myip="drill TXT +short o-o.myaddr.l.google.com @ns1.google.com"

# transmission
alias tt='transmission-remote'
alias tl='transmission-remote --list'
alias ts='transmission-remote -tall --start'
alias tS='transmission-remote -tall --stop'
alias tlw='watch -n 5 transmission-remote --list'

# git grep
alias gg='git grep --no-index'

# vim:ft=sh:
